@import url("https://rsms.me/inter/inter.css");
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
    font-feature-settings: "case", "cpsp", "salt";
  }
}

body {
  @apply relative;
}
label {
  @apply mt-4 mb-2 font-semibold text-gray-900;
}
input,
textarea {
  @apply px-4 py-2 bg-gray-100 rounded-md ring ring-transparent transition focus:outline-transparent focus:ring-blue-400;
}
.btn {
  @apply px-4 py-2 rounded-lg bg-blue-700 text-white font-semibold ring ring-transparent transition focus:outline-transparent focus:ring-blue-400;
}
.btn-white {
  @apply bg-white text-gray-900 border-1 hover:shadow;
}
.btn-pale {
  @apply text-blue-700 bg-blue-200 bg-opacity-50;
}
.btn-warning {
  @apply bg-red-500;
}
.btn-helper {
  @apply p-2 inline-flex text-gray-400 transition hover:text-gray-500 focus:outline-transparent;
}
.badge {
  @apply inline-flex items-center text-sm;
}
